<span class="topic-icon-container">
  {{#if context.topic.first_tracked_post}}
    <a class="tracked-post group-{{context.topic.first_tracked_post.group}}" href="{{context.topic.url}}/{{context.topic.first_tracked_post.post_number}}" title="{{i18n "group_tracker.first_group_post" group=context.topic.first_tracked_post.group}}">
      {{d-icon context.topic.firstTrackedPostIcon class="first-tracked-post"}}
      {{#if context.siteSettings.group_tracker_topic_icon}}
        {{d-icon context.siteSettings.group_tracker_topic_icon class=context.siteSettings.group_tracker_topic_icon_class}}
      {{/if}}
    </a>
  {{else}}
    {{#if context.siteSettings.group_tracker_topic_icon}}
      {{d-icon context.siteSettings.group_tracker_topic_icon class=context.siteSettings.group_tracker_topic_icon_class}}
    {{/if}}
  {{/if}}
</span>
