{{! Only show these fields when editing an existing group }}
{{#if group.id}}
  <div class="control-group">
    <label>
      <Input
        @type="checkbox"
        @checked={{group.track_posts}}
        {{on "change" (action "trackPostsChanged" value="target.checked")}}
      />
      {{i18n "group_tracker.track_posts"}}
    </label>

    <label>
      <Input
        @type="checkbox"
        @checked={{group.add_to_navigation_bar}}
        disabled={{if group.track_posts false true}}
        {{on
          "change"
          (action "addToNavigationBarChanged" value="target.checked")
        }}
      />
      {{i18n "group_tracker.add_to_navigation_bar"}}
    </label>
  </div>

  <div class="control-group">
    <label for="tracked_post_icon">
      {{i18n "group_tracker.tracked_post_icon.label"}}
    </label>
    <TextField
      @name="tracked_post_icon"
      @value={{group.tracked_post_icon}}
      @focus-out={{action "trackedPostIconChanged"}}
      @placeholderKey="group_tracker.tracked_post_icon.placeholder"
      @disabled={{if group.track_posts false true}}
    />
    <div class="control-instructions">
      {{i18n "group_tracker.tracked_post_icon.description"}}
    </div>
  </div>
{{/if}}