<div class="group-tracker-nav">
  {{#if this.groupTrackerPostsExist}}
    <DButton
      class="btn-default group-tracker-jump-prev"
      @action={{this.jumpToPrevTrackedPost}}
      @icon={{this.prevTrackerIcon}}
      @disabled={{this.prevTrackedPostDisabled}}
    >
      {{d-icon "arrow-left"}}
    </DButton>
    <DButton
      class="btn-default group-tracker-jump-next"
      @action={{this.jumpToNextTrackedPost}}
      @icon={{this.nextTrackerIcon}}
      @disabled={{this.nextTrackedPostDisabled}}
    >
      {{d-icon "arrow-right"}}
    </DButton>
  {{/if}}
</div>